footer{
  background-color: white;
  
  img{
    max-width: 250px;
  }

  #footer_recapiti{
    a{
      display:block;
    }
  }
// non si possono mettere insieme come CSS puro questi 2 id
  #footer_menu{
    a{
      display:block;
    }
  }
}
